<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Bandbox Beatzzz</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="marketplace">Marketplace</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h1>{{heading}}</h1>
  <h2><em>{{tagline}}</em></h2>
  <router-outlet></router-outlet>
</div>

<!--ln 4, routerLink will be empty string, which routes to splash page-->
